
@font-face {
	font-family: Open Sans;
	src: url("../fonts/OpenSans-Bold.ttf");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Open Sans;
	src: url("../fonts/OpenSans-Regular.ttf");
	font-weight: 400;
	font-style: normal;
}

body {
	font-family: Open Sans; 
	margin: 0;
}



.top {
	width: 100%;
	background-color: #0a0e34;
	background-repeat: no-repeat; 
	background-size: cover;
	background-position: center center;
	position: relative;

}

.top::after {
	content: "";
	background-color: #0a0e34;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.9
}


.container {
	position: relative;
	z-index: 1;
	max-height: 100%;
}

.icon-surface {
	display: block;
	fill: #ffffff;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}

.top-paragraphly {
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 0;
}

.top-paragraphly-line {
	display: block;
	margin: 0;
	padding-left: 13.75vw;
}	

.downloads {
	list-style: none;
	padding: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
}


.link {
	text-decoration: none;
	font-weight: 400;
	text-transform: uppercase;  
	color: #ffffff;
	background-color: #5e42b0;
	border-radius: 50px;
	margin-right: 0;
	display: flex;
	align-items: center;
}

.link-lines {
	display: flex;
	flex-direction: column;
}

.link-line:nth-child(n+2) {
	font-weight: 700;
}

.icon-store {
	fill: #ffffff;
	position: absolute;	
}

.link-line {
	width: 26.25vw;
	margin: 0;
}

.block-sportsmans {
	background-color: #ffffff;
}	

.title-sportsmans {
	color: #e7e7e7;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
}

.connection-title, .collaboration-title, .growth-title {
	margin: 0;
	display: flex;
	align-items: center;
}

.number-description {
	margin: 0;
	font-weight: 700;
	color: #000000;
}

.number-description::after {
	content: "";
	display: block;
	background-color: #5e42b0;
	border-radius: 25px;
}

.title-description {
	margin: 0;
	font-weight: 700px;
	text-transform: uppercase;
	color: #c1c1c1;
}

.description {
	font-weight: 400;
	color: #000000;
	text-transform: none;
	margin-bottom: 0;
}
p {
	margin: 0;
}

.collaboration {
	background-color: #f5f4f9;
}

.growth {
	background-color: #5e42b0;
}

.growth-players {
	background-color: #090c35;
}


.number-description-growth {
	display: inline-block;
	vertical-align: center;
	margin: 0;
	font-weight: 700;
	color: #000000;
}

.number-description-growth::after, .number-description-players::after {
	content: "";
	display: block;
	background-color: #ffffff;
	border-radius: 25px;
}

.description-growth-athlets {
	color: #ffffff;
}

.players {
	background-color: #090c35;
}

.description-growth-players {
	font-size: 4.6875vw;
	font-weight: 400;
	color: #ffffff;
	text-transform: none;
	margin-top: 8.4375%;
	margin-bottom: 0;
}

.number-description-players {
	display: inline-block;
	vertical-align: center;
	margin: 0;
	font-weight: 700;
	color: #8765dd;
}

.precept {
	position: relative;
}

.precept-img {
	background-color: #0a0e34;
	background-repeat: no-repeat; 
	background-size: cover;
	background-position: center center;

}

.number-precept {
	box-sizing: border-box;
	background-color: #5e42b0;
	margin: 0;
	font-weight: 700;
	color: #f5f6f7;
	position: absolute;
}

.numeral {
	margin: 0;
}

.numeral::after {
	content: "";
	display: block;
	background-color: #8765dd;
	margin-top: 4.2857%;
	border-radius: 25px;
}

.title-precept {
	color: #e7e7e7;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 0;
}

.precept-discription {
	color: #000000;
	font-weight: 400;
	margin: 0;
}

.footer {
	background-color: #0a0e34;
	background-repeat: no-repeat; 
	background-size: cover;
	background-position: center center;
	position: relative;
}

.footer::after {
	content: "";
	background-color: #0a0e34;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.9
}

.logo {
	fill: #ffffff;
	background-color: #5e42b0;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.title-footer {
	width: 87.5%;
	color: #ffffff;
	font-size: 10vw;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin-top: 17.1875%;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
}

.footer-paragraphly {
	display: block;
	color: #9b8ec1;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
}

.downloads-footer {
	padding-bottom: 0;
	margin-bottom: 0;
}

.icon-surface-footer {
	margin-right: auto;
	margin-left: auto;
}

@media (max-width: 640px) {

	.top {
		background-image: url("../images/football_767.jpg")
	}

	.container {
		padding-top: 10.3125%;
		padding-bottom: 10.3125%;
	}

	.icon-surface {
		width: 41.56%;
	}

	.top-paragraphly {
		font-size: 8.8vw;
		margin-top: 41.56%;
		margin-left: 6.25%;
	}

	.downloads {
		width: 87.5%;
		padding-bottom: 26.25%;
		margin-top: 26.875%;
	}

	.download-link:nth-child(n+2) {
		margin-top: 5%;
	}

	.link {
		font-size: 2.5vw;
		padding: 2.8125% 26.5625% 2.8125% 35%;
	}

	.icon-store {

		width: 7.857%;
		left: 25.9375vw;
	}

	.title-sportsmans{
		font-size: 15.625vw;
		padding-left: 6.25%;
		padding-top: 6.25%;
	}

	.sportsmans-img {
		min-height: 72.1875vw;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.img-footballer {
		width: 53%;
		margin-bottom: -17.1875%;
	}

	.img-basketballer {
		width: 88vw;
		margin-bottom: -8.125%; 
	}

	.connection {
		background-color: #fafafa;
		padding-top: 25.9375%;
		padding-left: 6.25%;
		padding-bottom: 17.1875%;
	}

	.number-description {
		font-size: 4.375vw;
	}

	.number-description::after {
		content: "";
		width: 4.6875vw;
		height: 1.25vw;
	}

	.title-description {
		font-size: 7.1875vw;
		margin-left: 3.33%;
	}

	.description-athlets, .description-players {
		font-size: 4.6875vw;
		padding-right: 6.25vw; 
		margin-top: 8.4375%;
	}

	.collaboration {
		padding-top: 18.75%;
		padding-left: 6.25%;
		padding-bottom: 16.875%;
	}

	.growth {
		padding-top: 18.75%;
		padding-left: 6.25%;
		padding-bottom: 17.1875%;
	}


	.number-description-growth {
		font-size: 4.375vw;	
	}

	.number-description-growth::after, .number-description-players::after {
		width: 4.6875vw;
		height: 1.25vw;	
	}

	.number-description-players {
		font-size: 4.375vw;
	}

	.precept-img {
		min-height: 109.6875vw;
		min-width: 100vw;
		max-width: 100%;
	}
	.number-precept {
		width: 21.875%;
		padding: 6.875% 8.4375% 6.875% 8.4375%;
		font-size: 4.375vw;
		top: 92vw;
		left: 6.25%;
	}

	.numeral::after {
		width: 93.75%;
		height: 1.25vw;
	}

	.title-precept {
		font-size: 8.75vw;
		margin-left: 6.25%; 
		margin-top: 9.375%;
	}

	.precept-discription {
		font-size: 5vw;
		margin-top: 7.8125%;
		padding-left: 6.25%;
		padding-bottom: 25%;
		padding-right: 6.25%;
	}

	.footer {
		background-image: url("../images/game_767.jpg");
	}

	.logo {
		width: 17.5%;
		padding: 4.0625% 2.1875%;
		border-radius: 16px;
		margin-top: 24%;
	}

	.title-footer {
		width: 87.5%;
		font-size: 10vw;
		margin-top: 17.1875%;	
	}

	.downloads-footer {
		margin-top: 23.75%;
		padding-bottom: 0;
	}

	.icon-surface-footer {
		margin-top: 25.625%;
	}
}

@media (min-width: 641px) and (max-width: 960px) {

	.top {
		background-image: url("../images/football_1280.jpg");
	}

	.container {
		padding-top: 4.9479%;
		padding-bottom: 4.9479%;
	}

	.icon-surface {
		width: 26.5625%;
	}

	.top-paragraphly {
		font-size: 8.333vw;
		margin-top: 23.177%;
		margin-left: 11.718%;
	}

	.downloads {
		display: flex;
		width: 85.0260%;
		margin-top: 40.2343%;
		margin-bottom: 11.5885%;
	}

	.download-link {
		width: 47.7794%;
		position: relative;
	}

	.download-link:nth-child(n+2) {
		margin-left: 4.4412%;
	}

	.link {
		font-size: 1.8229vw;
		padding: 8.3333% 0 8.3333% 39.7435%;	
	}

	.icon-store {
		width: 14%;
		left: 7.4218vw;	
	}

	.block-sportsmans {
		position: relative;
		overflow: hidden;
	}

	.title-sportsmans {
		font-size: 10.4166vw;
		line-height: 7.8125vw;
		padding-top: 11.1979%;	
	}

	.title-athlets {
		padding-left: 38.0208%;	
	}

	.img-footballer {
		width: 64.7135%;
		position: absolute;
		top: 16vw;
		left: -21vw;
	}

	.connection-athlets {
		margin-top: 7.9427%;
		padding-left: 38.1510%;
		padding-bottom: 5.2083%;
		padding-right: 4.2968%;
	}

	.number-description {
		font-size: 2.3437vw;
	}

	.number-description::after {
		width: 2.6041vw;
		height: 0.6510vw;
	}

	.title-description {
		font-size: 4.1666vw;
		margin-left: 3.33%;
	}

	.description-athlets, .description-players {
		font-size: 2.0833vw;
		margin-top: 4.2968vw;

	}

	.collaboration-athlets {
		padding-top: 5.2083%;
		padding-left: 38.1510%;
		padding-bottom: 5.2083%;
		padding-right: 4.2968%;
	}

	.growth-athlets {
		padding-top: 5.2083%;
		padding-left: 38.1510%;
		padding-bottom: 5.2083%;
		padding-right: 4.2968%;
	}


	.number-description-growth {
		font-size: 2.3437vw;
	}

	.number-description-growth::after, .number-description-players::after {
		width: 2.6041vw;
		height: 0.6510vw;
	}

	.title-players { 
		padding-left: 4.5572%;
	}


	.img-basketballer {
		width: 58%;
		position: absolute;
		top: 5vw;
		left: 43.2291vw;
	}

	.connection-players, .collaboration-players, .growth-players {
		box-sizing: border-box;
		padding: 5.2083%  45% 5.2083% 4.0364%;		
	}

	.number-description-players {
		font-size: 2.3437vw;
	}

	.precept-img {
		min-height: 76.0416vw;
		max-width: 100%;
	}

	.number-precept {
		width: 15%;
		padding: 5vw 6.1197vw 5vw 6.1197vw ;
		font-size: 3.125vw;
		top: 65vw;
		left: 4.7vw;
	}

	.numeral::after {
		width: 3.2552vw;
		height: 0.6510vw;
	}

	.title-precept {
		font-size: 10.4166vw;
		line-height: 7.8125vw;
		padding-left: 4.0364%; 
		margin-top: 11.7187%;
	}

	.precept-discription {
		font-size: 3.125vw;
		padding: 0 7.4218% 14.9739% 4.0364%;
		margin-top: 5.0781%;
	}

	.footer {
		background-image: url("../images/game_1280.jpg");
	}

	.logo {
		box-sizing: border-box;
		width: 16.796%;
		padding: 2.7% 2.1875%;
		margin-top: 16.4062%;
		border-radius: 3.90625vw;
	}

	.title-footer {
		width: 91.5364%;
		font-size: 10.4166vw;
		line-height: 7.8125vw;
		margin-top: 10.4166%;
	}

	.footer-paragraphly {
		font-size: 4.6875vw;
		margin-top: 3.5156%;
	}

	.downloads-footer {
		margin-top: 37.2395%;
		margin-bottom: 0;
	}

	.icon-surface-footer {
		margin-top: 7.1614%;
	}

}

@media (min-width: 961px) {

	.top {
		background-image: url("../images/football_1920.jpg");
	}

	.container {
		padding-top: 2.34375%;
		padding-bottom: 4.9479%;
	}

	.icon-surface {
		width: 9.94791%;
	}

	.top-paragraphly {
		font-size: 4.6875vw;
		margin-top: 15.46875%;
		padding-left: 10%;
	}

	.top-paragraphly-line {
		padding-left: 22vw;
	}

	.downloads {
		display: flex;
		width: 35%;
		margin-top: 11.56253%;
		margin-bottom: 5.5729%;
	}

	.download-link {
		width: 46.1424%;
		position: relative;
	}

	.download-link:nth-child(n+2) {
		margin-left: 7.7152%;
	}

	.link {
		font-size: 0.72916vw;
		padding: 8.3333% 0 8.3333% 40%;	
		
	}

	.icon-store {
		width: 13%;
		left: 3vw;	
	}

	.block-sportsmans {
		position: relative;
	}

	.title-sportsmans {
		font-size: 4.1666vw;
		line-height: 3.125vw;
		padding-top: 6.0416%;	
	}

	.title-athlets {
		padding-left: 52.5%;	
	}

	.img-footballer {
		position: absolute;
		z-index: 1;
		width: 32%;
		top: 1.4583vw;
		left: 15vw;
	}

	.connection-athlets {
		margin-top: 5.5729%;
		padding-left: 52.5%;
		padding-bottom: 3.0729%;
		padding-right: 10.2083%;
	}

	.number-description, .number-description-growth, .number-description-players {
		font-size: 0.9375vw;
	}

	.number-description::after, .number-description-growth::after, .number-description-players::after  {
		width: 1.0416vw;
		height: 0.2604vw;
	}

	.title-description {
		font-size: 1.875vw;
		margin-left: 1.5363%;
	}

	.description-athlets, .description-players {
		font-size: 1.04166vw;
		margin-top: 1.5vw;

	}

	.collaboration-athlets, .growth-athlets {
		padding-top: 2.8645%;
		padding-left: 52.5%;
		padding-bottom: 2.8645%;
		padding-right: 10.2083%;
	}

	.title-players { 
		padding-left: 10%;
	}


	.img-basketballer {
		width: 52%;
		position: absolute;
		top: 1.5104vw;
		left: 43.2291vw;
	}

	.connection-players {
		box-sizing: border-box;
		margin-top: 5.5729%;
		padding-right: 50.677%;
		padding-bottom: 2.8645%;
		padding-left: 10%;

	}

	.collaboration-players, .growth-players {
		box-sizing: border-box;
		padding: 2.8645%  50.677% 2.8645% 10%;		
	}

	.precept {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	.precept-preview {
		width: 50%;
	}

	.precept-img {
		display: block;
		min-width: 100%;
		max-width: 100%;
	}

	.number-precept {
		width: 8.6979%;
		padding: 3.0729% 3.6458% 3.0729% 3.6458% ;
		font-size: 1.25vw;
		top: 11.1vw;
		left: 45.5vw;
	}

	.numeral::after {
		width: 1.35vw;
		height: 0.2604vw;
	}

	.precept-discription-block {
		width: 50%;
	}

	.precept:nth-child(even) .precept-discription-block {
		order: -1;
	}

	.title-precept {
		font-size: 4.1666vw;
		line-height: 3.125vw;
		padding-left: 13.333%; 
		padding-top: 27.0833%;
		margin: 0;
	}

	.precept-discription {
		font-size: 1.25vw;
		padding: 0 18.9583% 0 13.333%;
		margin-top: 12.3958%;
	}

	.footer {
		background-image: url("../images/game_1920.jpg");
	}

	.logo-title {
		display: flex;
		width: 45.15625%;
		margin: auto;
		padding-top: 10.677%;
	}

	.logo {
		box-sizing: border-box;
		width: 14.9942%;
		height: 6.7708vw;
		padding: 2.7681% 1.4994%;
		margin: 0;
		border-radius: 35px;
	}

	.title-footer {
		font-size: 4.1666vw;
		line-height: 3.125vw;
		margin: 0;
		padding-top: 2.5374%; 
	}

	.footer-paragraphly {
		font-size: 1.5625vw;
	}

	.downloads-footer {
		margin-top: 7.8125%;
		margin-bottom: 0;
	}

	.icon-surface-footer {
		margin-top: 13.5416%;
	}

}


