
@font-face {
	font-family: Open Sans;
	src: url("../fonts/OpenSans-Bold.ttf");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Open Sans;
	src: url("../fonts/OpenSans-Regular.ttf");
	font-weight: 400;
	font-style: normal;
}

body {
	font-family: Open Sans; 
	margin: 0;
}

@media (max-width: 640px) {

.top {
	width: 100%;
	background-color: #0a0e34;
	background-image: url("../images/football_767.jpg");
	background-repeat: no-repeat; 
	background-size: cover;
	background-position: center center;
	position: relative;
}

.top::after {
	content: "";
	background-color: #0a0e34;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.9
}


.container {
	position: relative;
	z-index: 1;
	height: 0;
	padding-bottom: 190%;
}

.icon-surface {
	fill: #ffffff;
	width: 41.56%;
	margin-top: 10.31%;
	margin-left: auto;
	margin-right: auto;
}

.top-paragraphly {
	color: #ffffff;
	font-size: 8.8vw;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 41.56%;
}

.top-paragraphly-line {
	margin: 0;
	margin-left: 6.25%;
}

.top-paragraphly-line:nth-child(n+2) {
	margin-top: 9.375%;
	margin-left: 20%;
	margin-bottom: 0;
}

.downloads {
	list-style: none;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 26.875%;
	margin-bottom: 26.25%;
}


.download-links {
	box-sizing: border-box;
	width: 87.5%;
	padding: 2.8125% 26.5625% 2.8125% 35%;
	background-color: #5e42b0;
	border-radius: 50px;
	margin-right: 0;
	position: relative;
	display: flex;
	align-items: center;
} 

.download-links:nth-child(n+2) {
	margin-top: 4.375%;	
}

.icon-store {
	fill: #ffffff;
	width: 7.857%;
	position: absolute;
	left: 29.285%;	
}

.download-link-apple, .download-link-google {
 display: flex;
 flex-direction: column;
}

.download-link-line {
	text-decoration: none;
	font-size: 2.5vw;
	font-weight: 700;
	text-transform: uppercase;  
	color: #ffffff;
}


.sportsmans {
	background-color: #ffffff;
	position: relative;
	padding-top: 3.125%;
	padding-left: 6.25%;
	padding-bottom: 71.875%;	
}

.header-sportsmans {
	color: #e7e7e7;
	font-size: 15.625vw;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
}

.sportsmans-img {
	position: absolute;
	top: 25%;
width: 53%; 
}

.connection {
	background-color: #fafafa;
	padding-top: 25.9375%;
	padding-left: 6.25%;
	padding-bottom: 17.1875%;
}

.connection-header, .collaboration-header, .growth-header {
	margin: 0;
	display: flex;
	align-items: center;
}

.number-description {
	margin: 0;
	font-size: 4.375vw;
	font-weight: 700;
	color: #000000;
	margin-top: 1.25%;
}

.number-description::after {
	content: "";
	display: block;
	background-color: #5e42b0;
	width: 4.6875vw;
	height: 1.25vw;
	border-radius: 25px;
}

.header-description {
	margin: 0;
	font-size: 7.1875vw;
	font-weight: 700px;
	text-transform: uppercase;
	color: #c1c1c1;
	margin-left: 3.33%;
}

.description {
	font-size: 4.6875vw;
	font-weight: 400;
	color: #000000;
	text-transform: none;
	margin-top: 8.4375%;
	margin-bottom: 0;
}

.collaboration {
	background-color: #f5f4f9;
	padding-top: 18.75%;
	padding-left: 6.25%;
	padding-bottom: 16.875%;
}

.img-basketballer {
	width: 92.81%;
}

.growth {
	background-color: #5e42b0;
	padding-top: 18.75%;
	padding-left: 6.25%;
	padding-bottom: 17.1875%;
}


.number-description-growth {
	display: inline-block;
	vertical-align: center;
	margin: 0;
	font-size: 4.375vw;
	font-weight: 700;
	color: #000000;
}

.number-description-growth::after, .number-description-players::after {
	content: "";
	display: block;
	background-color: #ffffff;
	width: 4.6875vw;
	height: 1.25vw;
	border-radius: 25px;
}

.players {
	background-color: #090c35;
}

.description-players {
	font-size: 4.6875vw;
	font-weight: 400;
	color: #ffffff;
	text-transform: none;
	margin-top: 8.4375%;
	margin-bottom: 0;
}

.number-description-players {
	display: inline-block;
	vertical-align: center;
	margin: 0;
	font-size: 4.375vw;
	font-weight: 700;
	color: #8765dd;
}

.precept {
	position: relative;
}

   .precept-img {
    max-width: 100%;
    background-color: #0a0e34;
	background-repeat: no-repeat; 
	background-size: cover;
	background-position: center center;
	
}

.number-precept {
	width: 21.875%;
	box-sizing: border-box;
	background-color: #5e42b0;
	margin: 0;
	padding: 6.875% 8.4375% 6.875% 8.4375%;
	font-size: 4.375vw;
	font-weight: 700;
	color: #f5f6f7;
	position: absolute;
	top: 91.5625vw;
	left: 6.25%;
}

.numeral {
	margin: 0;
}

.numeral::after {
	content: "";
	display: block;
	background-color: #8765dd;
	width: 15px;
	height: 4px;
	margin-top: 3px;
	border-radius: 25px;
}

.header-precept {
	color: #e7e7e7;
	font-size: 28px;
	font-weight: 700;
	text-transform: uppercase;
	margin-left: 20px; 
	margin-top: 30px;
	margin-bottom: 0;
}

.precept-discription {
	color: #000000;
	font-size: 16px;
	font-weight: 400;
	margin-top: 25px;
	margin-left: 20px;
	margin-bottom: 80px;
}

.footer {
	background-color: #0a0e34;
	background-image: url("../images/game_767.jpg");
	background-repeat: no-repeat; 
	background-size: cover;
	background-position: center center;
	height: 632px;
	position: relative;
}

.footer::after {
	content: "";
	background-color: #0a0e34;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.9
}

.logo {
	fill: #ffffff;
	width: 56px;
	background-color: #5e42b0;
	padding: 13px 7px 13px 7px;
	border-radius: 16px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}
 
.header-footer {
	color: #ffffff;
	font-size: 32px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 55px;
	margin-bottom: 0;
}

.footer-paragraphly {
	color: #9b8ec1;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 13px;
	margin-bottom: 0;
}

.downloads-footer {
	margin-top: 76px;
	margin-bottom: 0;
}

.icon-surface-footer {
	margin-top: 82px;
	margin-right: auto;
	margin-left: auto;
}
}

@media (min-width: 321px) and (max-width: 768px) {
	
}